<from action="">
    <p>Titulo</p>
    <input type="text" name="titulo">
    <p>Conteúdo</p>
    <input type="text" name="titulo">
    <textarea name="conteudo"></textarea>
    <button type="subit"
</from>