.header {
    background-color: black;
    color: white;
    border-bottom: 2px solid red;
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    display: flex;
    padding-block: 0.5rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
}

.header span {
    font-size: 2rem;
    color: red;
    font-weight: 500;
}

/* .header nav {
    margin-right: 1rem;
} */

.header a {
    text-decoration: none;
    color: white;
    padding-inline: 0.5rem;
    font-size: 1.125rem;
}

